/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

:root {
  --primary-text-color: #d50c2d;
  --primary-text-color-hover: #ac0b26;
}

.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
  background:
    radial-gradient(farthest-side, var(--primary-text-color) 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, var(--primary-text-color));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn)
  }
}